html {
    font-family: sans-serif;
    width: 60%;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

.link-button {
    padding: 1em;
    display: block;
    margin: 1em auto;
    background-color: #333;
    width: fit-content;
    color: #f3f3f3;
    border-radius: 0.5em;
}

.link-button a {
    text-decoration: none;
}