html {
    font-family: sans-serif;
}

html,
body {
    margin: 0;
}

.red {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    color: #f2f2f2;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: background-color 0.2s;
}

.content {
    width: 60%;
    margin: auto;
    height: max-content;
}

#html-structure {
    width: 100%;
}

footer {
    background-color: #333;
    overflow: hidden;
    color: #f2f2f2;
    bottom: 0;
    text-align: center;
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer span {
    width: 100%;
    margin-top: 1em;
}